<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<div class="container">
  <hr />
  <h2>Artigos</h2>

  <a
    class="btn btn-success"
    href="/articles/admin/articles/new"
    style="margin-top: 5px;"
  >
    <i class="fas fa-plus"></i>
    Criar novo artigo
  </a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Slug</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach(articles => { %>
      <tr>
        <td><%= articles.id %></td>
        <td><%= articles.title %></td>
        <td><%= articles.slug %></td>
        <th><%= articles.category.title %></th>
        <td>
          <a
            class="btn btn-warning"
            title="Alterar"
            href="/articles/admin/edit/<%= articles.id %>"
          >
            <i class="fa fa-pencil"></i>
          </a>

          <form
            method="POST"
            action="/articles/admin/delete"
            style="display: inline;"
            onsubmit="confirmarDelecao(event, this)"
          >
            <input type="hidden" name="id" value=" <%= articles.id %> " />
            <button class="btn btn-danger" title="Excluir" type="submit">
              <i class="fa fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include ("../../partials/footer.ejs") %>

<script>
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var decision = confirm("Deseja excluir este artigo?");
    if (decision) {
      form.submit();
    }
  }
</script>
