<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<div class="container">
  <hr />
  <h2>Categorias</h2>

  <a
    class="btn btn-success"
    href="/categories/admin/categories/new"
    style="margin-top: 5px;"
  >
    <i class="fas fa-plus"></i>
    Criar nova categoria
  </a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.title %></td>
        <td><%= category.slug %></td>
        <td>
          <a
            class="btn btn-warning"
            href="/categories/admin/categories/edit/<%= category.id %>"
          >
            <i class="fa fa-pencil"></i>
          </a>

          <form
            method="POST"
            action="/categories/admin/delete"
            style="display: inline;"
            onsubmit="confirmarDelecao(event, this)"
          >
            <input type="hidden" name="id" value=" <%= category.id %> " />
            <button class="btn btn-danger" type="submit">
              <i class="fa fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include ("../../partials/footer.ejs") %>

<script>
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var decision = confirm("Deseja excluir esta categoria?");
    if (decision) {
      form.submit();
    }
  }
</script>
