<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<div class="container">
  <hr />
  <h2>Usuários</h2>
  <a class="btn btn-success" href="/admin/users/create">
    <i class="fas fa-plus"></i>
    Criar novo usuário
  </a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td>
          <a class="btn btn-warning" title="Alterar" href="#">
            <i class="fa fa-pencil"></i>
          </a>

          <form
            method="POST"
            action="#"
            style="display: inline;"
            onsubmit="confirmarDelecao(event, this)"
          >
            <input type="hidden" name="id" value=" " />
            <button class="btn btn-danger" title="Excluir" type="submit">
              <i class="fa fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include ("../../partials/footer.ejs") %>

<script>
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var decision = confirm("Deseja excluir este usuário?");
    if (decision) {
      form.submit();
    }
  }
</script>
